---
import ContactForm from '../components/ContactForm.astro';
import RegistrationForm from '../components/RegistrationForm.astro';
 ---

<div class="w-full flex items-center justify-center text-center py-6">
  <div class="w-full max-w-3xl">
    <RegistrationForm />
  </div>
</div>
