<div class="absolute inset-0 w-full h-full overflow-hidden -z-10">
  <script type="module" src="https://unpkg.com/@splinetool/viewer@1.11.6/build/spline-viewer.js"></script>
  <spline-viewer
    url="https://prod.spline.design/KqQ2u7Z-ueKYiLne/scene.splinecode"
    class="absolute inset-0 w-full h-full"
  ></spline-viewer>
  <div class="absolute inset-0 bg-sky-900/80"></div>
</div>
